<ion-header>
  <ion-toolbar>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
   
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="stacked">NOME</ion-label>
        <ion-input ngModel name="fName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">TELEFONE</ion-label>
      <ion-input ngModel name="lName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">EMAIL</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">SENHA</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="secondary">CADASTRAR</ion-button>
  </form>
  <p text-center>Já tem uma conta?</p>
  <ion-button expand="full" color="success" (click)="loginModal()">ENTRAR</ion-button>
</ion-content>  