<ion-header>
<<<<<<< HEAD
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="center">
    <IMG class="displayed" src="assets/chat.png" >

    <div class=container1>
      <p>Bem vindo ao ChatApp!
    </div>

    <div class="btnconversas">
        <ion-button [routerLink]="['/usuarios']" routerDirection="forward" color="success">Conversas</ion-button> 
    </div>
  
    <div class="btnsair">
        <ion-button (click)="Logout()" color="success">Sair</ion-button> 
    </div>
  </div>

</ion-content>

=======
  Home
</ion-header>
  
<ion-content padding>

  <ion-list>
    <ion-item-sliding >
      <ion-item>
       
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" >
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" >
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
>>>>>>> origin/master
