<<<<<<< HEAD
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }



div.container1 {
    height: 10em;
    position: relative }
div.container1 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    #botao{ text-align: center }
    
.btnconversas{
        text-align: center;
        padding: 15px 20px;
        border: 1px solid #eee;

       
    }
.btnsair{
        text-align: center;
        padding: 15px 20px;
        border: 1px solid #eee;
    
    
    }
ion-content {
    --background: #ffff00 url('../../assets/background.png') no-repeat center center / cover !important;
}
=======
.my-custom-menu {
  --width: 500px;
}


>>>>>>> origin/master
